@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
    font-family: 'Open Sans', sans-serif;
}

.repository span {
    font-size: 1.4rem;
}

.badge-table {
    font-size: 1rem;
}

.navbar-ekino {
    background-color: #e3f2fd;
}

/* Line under active nav item */
.active {
    border-bottom: .15rem solid var(--dark);
}

.library:before {
    content: "\1F4D5";
}
.default:before {
    content: "\1F4C1";
}
.service:before {
    content: "\1F3ED";
}
.tool:before {
    content: "\1F527";
}
.cloud:before {
    content: "\2601";
}
.plug:before {
    content: "\1F3D7";
}

.small-image img {
    height: 1em;
    width: 1em;
 }

.springboot-equal a span {
    color: #DC143C;
}

.springboot-up a span {
    color: #6DB33F;
}

.springboot-down a span {
    color: #878787;
}
