@import model.AbstractDisplay
@(dependencies: Seq[AbstractDisplay])

<!DOCTYPE html>

<html lang="en">

    @base.header("Dependencies list")

    <body class="container">
        <div class="row mt-3 mb-3">
            <div class="col-6">
                <form class="form-inline" autocomplete="off">
                    <div class="form-group">
                        <input id="search-input" class="form-control" type="search" placeholder="Search..." />
                    </div>
                </form>
            </div>

            <div class="col-6">
                <a class="btn btn-primary float-right" href="@routes.HomeController.index()" role="button">Return to home</a>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div id="search-list" class="versions list-group control-group accordion">
                    @for(dependency <- dependencies) {
                        <a href="@routes.DependencyController.dependency(dependency.name)" class="list-group-item list-group-item-action repository dependency">
                            <span class="small-image"><img src="@routes.Assets.at(dependency.getIconPath)" alt="image"></span>
                            <span class="name">
                                @dependency.name
                            </span>
                            @defining(dependency.numberOfUses) { uses: Int =>
                                <span class="float-right badge badge-info">
                                    @uses @(if (uses > 1) "uses" else "use")
                                </span>
                            }
                        </a>
                    }
                </div>
            </div>
        </div>
        <script src="@routes.Assets.at("javascripts/versions.js")"></script>
    </body>
</html>
