@import model.AbstractDisplay
@(dependency: AbstractDisplay)

<!DOCTYPE html>

<html lang="en">

    @base.header("Dependency versions")

    <body class="container">
        <div class="row mt-3">
            <div class="col">
                <h1>
                    @dependency.name
                    @defining(dependency.getCompletionPercentage) { completionPercentage =>
                        <span data-color="@completionPercentage" class="float-right badge">@completionPercentage %</span>
                    }
                </h1>
            </div>
        </div>

        <div class="row justify-content-between mb-3 mt-2">
            <div class="col-6">
                <h3>Latest release: @dependency.latestVersion</h3>
            </div>
            <div class="col-6">
                <a class="btn btn-primary float-right" href="@routes.HomeController.index()" role="button">Return to home</a>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table aria-describedby="each used version of a dependency" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Version</th>
                            <th>Repositories</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(version <- dependency.versions.keys.toSeq.sorted(utils.VersionComparator)) {
                        <tr>
                            <td>@version</td>
                            <td>
                                <dl>
                                @for(repository <- dependency.getRepositories(version)) {
                                    <dd><a href="@routes.RepositoryController.index(repository)" role="button">@repository</a></dd>
                                }
                                </dl>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <script src="@routes.Assets.at("javascripts/versions.js")"></script>
    </body>
</html>
