@import model.Project
@(projects: Seq[Project])

<!DOCTYPE html>

<html lang="en">

    @base.header("Repositories")

    <body>
        <nav class="navbar navbar-expand-lg navbar-light navbar-ekino sticky-top">
            <div class="container">
                <a class="navbar-brand">Projects</a>
                <ul class="navbar-nav">
                    @for(project <- projects) {
                        <li class="nav-item" id="nav@project.name">
                            <a class="nav-link" href="javascript:" onclick="activateTab('@project.name')">@project.name</a>
                        </li>
                    }
                </ul>
                <a class="btn btn-outline-primary" href="@routes.DependencyController.dependencies()">All dependencies</a>
            </div>
        </nav>
        <div class="container">
            <div class="row mt-3 mb-3">
                <div class="col-6">
                    <form class="form-inline" autocomplete="off">
                        <label for="search-input"></label><input id="search-input" class="form-control" type="search" placeholder="Search..." />
                    </form>
                </div>

                <div class="col-6">
                    <img id="loaderImg" src='@routes.Assets.at("images/loader.svg")' alt="loader" class="float-right loader"/>
                    <button id="clearButton" class="btn btn-danger btn-sm float-right" onclick="websocket('clear')">Clear cache</button>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div id="search-list" class="versions list-group control-group accordion">
                        @for(project <- projects) {
                            <div class="tabcontent" id="tab@project.name">
                                @for(repository <- project.repositories) {
                                    <a href="@routes.RepositoryController.index(repository.name)" class="list-group-item list-group-item-action repository @repository.repositoryType">
                                        <span class="name">@repository.name</span>
                                        <span data-color="@repository.completionPercentage" class="badge float-right col-2">
                                            @repository.completionPercentage %
                                        </span>
                                    </a>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <script src="@routes.Assets.at("javascripts/versions.js")"></script>
    </body>
</html>
